<body style="font-family: 'Times New Roman', Times, serif; font-size: 12pt; color: #000000; margin: 0; padding: 20px;">
<style>
    @media screen and (max-width: 600px) {
        .mobile-full-width { width: 100% !important; }
        .mobile-padding { padding: 15px !important; }
    }
</style>

<table class="mobile-full-width" width="600" style="max-width: 600px;">
    <tr>
        <td class="mobile-padding" style="padding: 10px;">
            <p>{{today_date}}</p>
            {{full_name}}<br>
            {{address1}}<br>
            {{address2}}<br><br>
            Dear {{title}} {{last_name}},<br>
            <p>
                This is a courtesy reminder that you that you are now due for a follow-up {{procedure}}.
            </p>
            
            {% if ocd %}

            {% if over_75 %}

            <p>
              As you are over 75 years of age you should book an appointment to see your specialist Dr {{doctor}} prior to your procedure.
            </p>  

            {% else %}

            <p>
            If you answer Yes to any of the following questions you should book an appointment to see your specialist Dr {{doctor}} prior to your procedure.
            </p>
            <ul>
                <li>Do you have symptoms of concern?</li>
                <li>Do you take strong blood thinning medications - Plavix/Iscover(Clopidogrel), Xarelto(Rivaroxiban), Eliquis(Apixiban), Pradaxa(Dabigatran) or Warfarin?</li>
                <li>Do you have diabetes that requires insulin?</li>
                <li>Do you have chronic kidney disease?</li>
                <li>Weigh over 130 kg?</li>
                <li>Have you had a stroke or a heart attack within the past year?</li>
                <li>Have you had any other significant health issues since you were last here?</li>
            </ul>
            <p>If you answered No to all of the above questions, you should book an appointment for your procedure.</p>

            {% endif %}
            {% endif %}

            <p>To book or for any enquiries please call us on 8382-6622.</p>
            <p>Please be advised you will require a new referral as per Medicare guidelines. Failure to supply one may incur additional fees.</p>
            <p>Yours sincerely,</p>
            <p>Diagnostic Endoscopy Centre on behalf of Dr {{ doc_first_name }} {{doctor}}.</p><br>
            <img src="cid:{{our_content_id}}" alt="Logo"><br><br>
        </td>
    </tr>
</table>
</body